@{
    ViewData["Title"] = "Privacy Policy";
}

@model Survey

<h1 style = "text-decoration: underline">Submitted Info</h1>
<p>Name: @Model.Name</p>
<p>Dojo Location: @Model.Dojo</p>
<p>Favorite Language: @Model.Language</p>
<p>Comment: @Model.Comment</p>
